.remote {
  display: grid;
  grid-template: repeat(3, 72px) / repeat(3, 72px);
  gap: 8px;
  width: max-content;
}
.key {
  border-radius: 50%;
  background: #26354b;
  color: white;
  font-size: 1.3rem;
}
.key:hover {
  background: #64d8cb;
  color: #07121b;
}
.up {
  grid-column: 2;
}
.left {
  grid-row: 2;
  grid-column: 1;
}
.enter {
  grid-row: 2;
  grid-column: 2;
}
.right {
  grid-row: 2;
  grid-column: 3;
}
.down {
  grid-row: 3;
  grid-column: 2;
}
